[mysqld]
ndbcluster
default-storage-engine=ndbcluster
ndb-connectstring=192.168.122.185,192.168.122.109
datadir=/home/ubuntu/my_cluster/mysqld_data
basedir=/home/ubuntu/mysqlc
port=5000
[mysql_cluster]
ndb-connectstring=192.168.122.185,192.168.122.109
#[ndbd]
#connect-string=192.168.122.185
#[ndb_mgm]
#connect-string=192.168.122.185
